.App {
  text-align: center;
  background-color: lightgrey;
  height: 100vh;
}
.Home {
  background-color: lightgrey;
}

img {margin-bottom: 15px;}

label {display: block;
margin: 20px;}

form {background-color: lightgrey;
height: 100vh;}

button {margin: 15px;
padding: 10px;}